<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Gothic+A1|Montserrat|Raleway" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
	<body>
		<div id="app">
			<div class="ban">
					<div class="container">
						<div class="row">
							<div class="ban-header col-md-3 pt-2">FYF-Start-Up.io</div>
							<div class="search col-md-8">
								<div class="row">
									<form class="col-md-12">
											<div class="form-group search-form">
												<input type="text" name="search" id="search" class="hide form-control col-md-8">
												<button id="btn-search" class="btn btn-default col-md-1">
													<i class="fas fa-search"></i>
												</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
			</div>

			<div class="container">
				<div class="row mt-5">
					<h3 class="titre col-md-12">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					</h3>
				</div>

				<section class="row section-header">
					<div class="cards card1 col-md-4">
						<h4> Espace Funder</h4>
						<a href=""><button class="my-5 btn btn-outline-success" id="login">Connectez-vous</button></a>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						</p>
						<a href="#"><i class="far fa-eye"></i> Voir plus</a>
					</div>
					<div class="col-md-4"></div>
					<div class="cards card2 col-md-4">
						<h4> Espace Developpeur</h4>
						<a href=""><button class="my-5 btn btn-outline-success">Connectez-vous</button></a>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						</p>
						<a href="#"><i class="far fa-eye"></i> Voir plus</a>
					</div>
				</section>

        <div class="tab_container hide" id="tab_container">
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1"><i class="fas fa-sign-in-alt"></i><span> Se connecter</span></label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2"><i class="fa fa-calendar"></i><span>S'enregistrer</span></label>



            <section id="content1" class="tab-content">
                <div id="close"><i class="far fa-times-circle close" id="close"></i></div>
                <p>
                  <div class="row">
                    <div class="col-md-10 m-auto bg-dark pt-2 text-right rounded">
                      <form class="form-inline" action="/SiginIn" method="post">
                        <label class="sr-only" for="inlineFormInputName2">Name</label>
                        <input type="text" name="name" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Votre nom">

                        <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                        <div class="input-group mb-2 mr-sm-2">
                          <input type="password" name="pwd" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Mot de passe">
                        </div>

                        <button type="submit" class="btn btn-primary mb-2">Sign In</button>
                      </form>

                    </div>
                  </div>
                </p>
            </section>

            <section id="content2" class="tab-content">
              <div id="close"><i class="far fa-times-circle close" id="close"></i></div>
                <p>
                  <div class="row mt-1" id="siginup">
                    <!-- Grid column -->
                    <div class="col-md-6 mb-4 m-auto py-5" >

                       <div class="card near-moon-gradient form-white">
                           <div class="card-body">
                           <!-- Form subscription -->
                               <form action="/SiginUp" method="post">
                                   <h3 class="text-center indigo-text font-bold py-4"><strong>Inscription</strong></h3>
                                   <div class="md-form">
                                       <i class="fa fa-user prefix white-text"></i>
                                       <input type="text" id="username" name="username" value="" class="form-control">
                                   </div>
                                   <div class="md-form">
                                       <i class="fa fa-envelope prefix white-text"></i>
                                       <input type="mail" id="email" name="email" value="" class="form-control">
                                   </div>
                                   <div class="md-form">
                                       <i class="fa fa-envelope prefix white-text"></i>
                                       <input type="mail" id="reEmail" name="reEmail" value="" class="form-control">
                                   </div>
                                   <div class="md-form">
                                       <i class="fa fa-envelope prefix white-text"></i>
                                       <input type="password" id="pwd" name="pwd" value="" class="form-control">
                                   </div>
                                   <div class="md-form">
                                       <i class="fa fa-envelope prefix white-text"></i>
                                       <input type="password" id="rePwd" name="rePwd" value="" class="form-control">
                                   </div>
                                   <div class="text-center py-4">
                                       <button type="submit" class="btn btn-indigo">SignUp<i class="fa fa-paper-plane-o ml-1"></i></button>
                                   </div>
                               </form>
                               <!-- Form subscription -->
                           </div>
                       </div>
                   </div>
                  </div>
                </p>
            </section>
        </div>

        <section class="row mt-5" id="slide">
  				<div class="caroussel">
  					<figure>
  						<img src="http://lorempicsum.com/futurama/255/200/1">
  						<figcaption>
  							cool
  						</figcaption>
  					</figure>

  					<figure>
  						<img src="http://lorempicsum.com/futurama/255/200/2">
  						<figcaption>
  							cool
  						</figcaption>
  					</figure>

  					<figure>
  						<img src="http://lorempicsum.com/futurama/255/200/3">
  						<figcaption>
  							cool
  						</figcaption>
  					</figure>

  					<figure>
  						<img src="http://lorempicsum.com/futurama/255/200/4">
  						<figcaption>
  							cool
  						</figcaption>
  					</figure>

  					<figure>
  						<img src="http://lorempicsum.com/futurama/255/200/5">
  						<figcaption>
  							cool
  						</figcaption>
  					</figure>
  				</div>
  			</section>
			</div>
		</div>

		<script type="text/javascript" src="/javascripts/main.js"></script>
	</body>
</html>
