<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/myfounder.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Montserrat|Raleway" rel="stylesheet">
    <title><%= title %></title>
  </head>
  <body>
    <h1>Espace personnel</h1>
    <aside class="profil">
      <section>
        <article>
          <h2>
            Vos infos personelles
          </h2>
          <ul class="profil_infos">
            <li><i class="fas fa-user-circle"></i></li>
            <li>your name company</li>
            <li> your email</li>
          </ul>
      </article>
      </section>
    </aside>
    <main>
      <!-- notification de connexion -->
      <!--<section class="notif-welcome">
        <article>
          <h2>Connexion</h2>
          <p>
            Bienvenue sur votre espace personnel
          </p>
        </article>-->
      </section>
      <section class='projects'>
        <h2>Mes projets</h2>
          <article class="grid-projects">
            <h3>Lorem ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum harum itaque magni quis atque ducimus repellat perspiciatis iste quaerat reiciendis, quo illo accusantium!
              Excepturi deserunt aut eaque, magni reiciendis facere.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint illo sed tempore distinctio quisquam repellat temporibus magni commodi nemo tenetur.</p>
              <a href="#">Afficher plus</a>
          </article>
          <article class="grid-projects">
            <h3>Lorem ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum harum itaque magni quis atque ducimus repellat perspiciatis iste quaerat reiciendis, quo illo accusantium!
              Excepturi deserunt aut eaque, magni reiciendis facere.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint illo sed tempore distinctio quisquam repellat temporibus magni commodi nemo tenetur.</p>
              <a href="#">Afficher plus</a>
          </article>
          <article class="grid-projects">
            <h3>Lorem ipsum</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum harum itaque magni quis atque ducimus repellat perspiciatis iste quaerat reiciendis, quo illo accusantium!
              Excepturi deserunt aut eaque, magni reiciendis facere.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint illo sed tempore distinctio quisquam repellat temporibus magni commodi nemo tenetur.</p>
              <a href="#">Afficher plus</a>
          </article>
      </section>
    </main>
  </body>
</html>
